<!DOCTYPE html>
<head>
   <title>List all Records</title>
   <!-- This line should go on every html page to load the main.css -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}" />
</head>
<html>
   <body>
   <!-- This line should be on every html page just after the <body> to display the menu. -->
      <ul>
         <li><a href="{{ url_for('home') }}">Home</a></li>
         <li><a href="{{ url_for('list') }}">List All Students</a></li>
         <li><a href="{{ url_for('new_student') }}">Add New Student</a></li>
         <li><a href="{{ url_for('confirm_db') }}">Reset Database</a></li>
         <li><a href="{{ url_for('about') }}">About</a></li>
     </ul>
     <h1>Here is a list of all your Student data:</h1>
      <table style="margin-left:auto;margin-right:auto;"1>
         <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
         </tr>
         
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["addr"]}}</td>
               <td> {{ row["city"]}}</td>
               <td> {{ row["state"]}}</td>
               <td>{{row['zip']}}</td>	
            </tr>
         {% endfor %}
      </table>
   </body>
</html>